<div class="titleBox">
    <h2 class="title">THE AWARDS</h2>
</div>
<div class="awardListWrapper swiper-container">
    <div class="awardList swiper-wrapper">
    </div>
    <div class="award-dot-list">
        <div class="swiper-pagination"></div>
        <button class="pause-btn">
            <i class='bx bx-pause'>
                <span class="blind">슬라이드 자동 정지 버튼</span>
            </i>

            <i class='bx bx-play'>
                <span class="blind">슬라이드 자동 시작 버튼</span>
            </i>
        </button>
    </div>
    
</div>
<div class="award-bg"></div>