<div class="inner">
    <h1 class="logo">
        <a href="#" title="홈으로 이동">
            <span class="blind">제네시스 로고</span>
        </a>
    </h1>
    <nav class="gnbWrapper">
        <ul class="gnbList" data-include="/components/gnb/gnbMenu.html"></ul>
    </nav>
    <div class="supportMenuWrapper" data-include="/components/gnb/supportMenu.html"></div>
    <div class="sitemapWrapper">
        <a href="#" class="btn">
            <span class="line01"></span>
            <span class="line02"></span>
            <span class="blind">전체 메뉴 버튼</span>
        </a>
        <div class="sitemapWrapperPc" data-include="/components/gnb/sitemap-pc.html"></div>
        <div class="sitemapWrapperMobile" data-include="/components/gnb/sitemap-mobile.html"></div>
    </div>
</div>