<div class="inner">
    <div class="titleBox">
        <h2 class="title">OUR MODELS</h2>
        <p class="text">
            역동적이면서도 우아한 디자인과 최첨단 기술을
            탑재한 제네시스 브랜드의 라인업을 살펴보세요
        </p>
    </div><!--titlebox-->
    <div class="category">
        <select>
            <option value="all" selected>ALL</option>
            <option value="black" >BLACK</option>
            <option value="sedan">SEDAN</option>
            <option value="suv">SUV</option>
        </select>
    </div>

    <div class="model-list-wrapper"></div>
    <div class="model-dot-wrapper">
        <div class="swiper-pagination"></div>
    </div>
</div>