<div class="inner">
    <ul class="serviceList">
        <li>
            <a href="#" class="icon-qui">
                <h2>견적 내기</h2>
            </a>
        </li>

        <li>
            <a href="#" class="icon-sales">
                <h2>구매 상담 신청</h2>
            </a>
        </li>

        <li>
            <a href="#" class="icon-drive">
                <h2>시승 신청</h2>
            </a>
        </li>

        <li>
            <a href="#" class="icon-catalog">
                <h2>카탈로그</h2>
            </a>
        </li>
    </ul>
</div>