 <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide item01">
                <div class="swiper-slide-inner">
                    <div class="content-wrap">
                        <div class="content-img">
                            <div class="pc content-bg"></div>
                            <div class="mobile content-bg"></div>
                        </div>
                        <div class="swiper-slide-text">
                            <h3 class="blind content-subtitle">GENESIS</h3>
                            <h2 class="blind content-title">G90</h2>
                        </div>
                        <div class="swiper-slide-link">
                            <div class="link-item">
                                <a href="#">
                                    <span>더 알아보기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                                <a href="#">
                                    <span>견적 내기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>

                        </div>
                    </div><!--content-->
                </div><!--inner-->
            </div><!--slide-->

            <div class="swiper-slide item02">
                <div class="swiper-slide-inner">
                    <div class="content-wrap">
                        <div class="content-img">
                            <div class="pc content-bg"></div>
                            <div class="mobile content-bg"></div>
                        </div>
                        <div class="swiper-slide-text">
                            <h3 class="blind content-subtitle">GENESIS</h3>
                            <h2 class="blind content-title">MAGMA</h2>
                        </div>
                        <div class="swiper-slide-link">
                            <div class="link-item">
                                <a href="#">
                                    <span>더 알아보기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                                <a href="#">
                                    <span>견적 내기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>

                        </div>
                    </div><!--content-->
                </div><!--inner-->
            </div><!--slide-->

            <div class="swiper-slide item03">
                <div class="swiper-slide-inner">
                    <div class="content-wrap">
                        <div class="content-img">
                            <div class="pc content-bg"></div>
                            <div class="mobile content-bg"></div>
                        </div>
                        <div class="swiper-slide-text">
                            <h3 class="blind content-subtitle">GENESIS</h3>
                            <h2 class="blind content-title">GV80 COUPE</h2>
                        </div>
                        <div class="swiper-slide-link">
                            <div class="link-item">
                                <a href="#">
                                    <span>더 알아보기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                                <a href="#">
                                    <span>견적 내기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>

                        </div>
                    </div><!--content-->
                </div><!--inner-->
            </div><!--slide-->

            <div class="swiper-slide item04">
                <div class="swiper-slide-inner">
                    <div class="content-wrap">
                        <div class="content-img">
                            <div class="pc content-bg"></div>
                            <div class="mobile content-bg"></div>
                        </div>
                        <div class="swiper-slide-text">
                            <h3 class="blind content-subtitle">GENESIS</h3>
                            <h2 class="blind content-title">GV80</h2>
                        </div>
                        <div class="swiper-slide-link">
                            <div class="link-item">
                                <a href="#">
                                    <span>더 알아보기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                                <a href="#">
                                    <span>견적 내기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>

                        </div>
                    </div><!--content-->
                </div><!--inner-->
            </div><!--slide-->

            <div class="swiper-slide item05">
                <div class="swiper-slide-inner">
                    <div class="content-wrap">
                        <div class="content-img">
                            <div class="pc content-bg"></div>
                            <div class="mobile content-bg"></div>
                        </div>
                        <div class="swiper-slide-text">
                            <h3 class="blind content-subtitle">GENESIS</h3>
                            <h2 class="blind content-title">Electrified G80</h2>
                        </div>
                        <div class="swiper-slide-link">
                            <div class="link-item">
                                <a href="#">
                                    <span>더 알아보기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                                <a href="#">
                                    <span>견적 내기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>

                        </div>
                    </div><!--content-->
                </div><!--inner-->
            </div><!--slide-->

            <div class="swiper-slide item06">
                <div class="swiper-slide-inner">
                    <div class="content-wrap">
                        <div class="content-img">
                            <div class="pc content-bg"></div>
                            <div class="mobile content-bg"></div>
                        </div>
                        <div class="swiper-slide-text">
                            <h3 class="blind content-subtitle">GENESIS</h3>
                            <h2 class="blind content-title">Electrified GV70</h2>
                        </div>
                        <div class="swiper-slide-link">
                            <div class="link-item">
                                <a href="#">
                                    <span>더 알아보기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                                <a href="#">
                                    <span>견적 내기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>

                        </div>
                    </div><!--content-->
                </div><!--inner-->
            </div><!--slide-->

            <div class="swiper-slide item07">
                <div class="swiper-slide-inner">
                    <div class="content-wrap">
                        <div class="content-img">
                            <div class="pc content-bg"></div>
                            <div class="mobile content-bg"></div>
                        </div>
                        <div class="swiper-slide-text">
                            <h3 class="blind content-subtitle">GENESIS</h3>
                            <h2 class="blind content-title">GV70</h2>
                        </div>
                        <div class="swiper-slide-link">
                            <div class="link-item">
                                <a href="#">
                                    <span>더 알아보기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                                <a href="#">
                                    <span>견적 내기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>

                        </div>
                    </div><!--content-->
                </div><!--inner-->
            </div><!--slide-->

            <div class="swiper-slide item08">
                <div class="swiper-slide-inner">
                    <div class="content-wrap">
                        <div class="content-img">
                            <div class="pc content-bg"></div>
                            <div class="mobile content-bg"></div>
                        </div>
                        <div class="swiper-slide-text">
                            <h3 class="blind content-subtitle">GENESIS</h3>
                            <h2 class="blind content-title">G70</h2>
                        </div>
                        <div class="swiper-slide-link">
                            <div class="link-item">
                                <a href="#">
                                    <span>더 알아보기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                                <a href="#">
                                    <span>견적 내기</span>
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>

                        </div>
                    </div><!--content-->
                </div><!--inner-->
            </div><!--slide-->
        </div><!--wrapper-->
        <div class="visual-control">
            <div class="swiper-pagination"></div>
            <button class="pause-btn">
                <i class='bx bx-pause'>
                    <span class="blind">슬라이드 자동 정지 버튼</span>
                </i>

                <i class='bx bx-play'>
                    <span class="blind">슬라이드 자동 시작 버튼</span>
                </i>
            </button>
        </div><!--visual-controls-->

    </div>
