<li>
    <a href="#" title="대메뉴">모델</a>
    <div class="subMenuWrapper" data-include="./components/gnb/subMenuModel.html"></div>
</li>
<li>
    <a href="#" title="대메뉴">구매</a>
    <div class="subMenuWrapper" data-include="./components/gnb/subMenuPurchase.html"></div>
    
</li>
<li>
    <a href="#" title="대메뉴">체험</a>
    <div class="subMenuWrapper" data-include="./components/gnb/subMenuExperience.html"></div>
</li>
<li>
    <a href="#" title="대메뉴">멤버스</a>
    <div class="subMenuWrapper" data-include="./components/gnb/subMenuMembers.html"></div>
</li>
<li>
    <a href="#" title="대메뉴">제네시스</a>
    <div class="subMenuWrapper" data-include="./components/gnb/subMenuGenesis.html"></div>
</li>
