<div class="sitemapInner depth1">
    <div class="sitemapSearchWrapper">
        <div class="sitemapSearch">
            <input type="text" placeholder="검색어를 입력하세요">
            <button class="sitemapSearchBtn">
                <span class="blind">검색하기</span>
                <img src="../../images/icon-search-small.png">
            </button>
        </div><!--sitemapSearch-->
    </div><!--sitemapSearchWrapper-->
    <ul class="depth1List">
        <li><a href="#" data-target="model">모델<i class='bx bx-chevron-right'></i></a></li>
        <li><a href="#" data-target="purchase">구매<i class='bx bx-chevron-right'></i></a></li>
        <li><a href="#" data-target="experience">체험<i class='bx bx-chevron-right'></i></a></li>
        <li><a href="#" data-target="members">멤버스<i class='bx bx-chevron-right'></i></a></li>
        <li><a href="#" data-target="genesis">제네시스<i class='bx bx-chevron-right'></i></a></li>
        <li><a href="#" data-target="cs">고객센터<i class='bx bx-chevron-right'></i></a></li>
        <li><a href="https://www.naver.com" data-target="myPage">마이 페이지</a></li>
    </ul>
</div><!--sitemapInner depth1-->
<div class="depth2">
    <ul class="depth2List">
        <li id="model">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>모델</button>
            </div>
            <ul class="dropdownContainer">
                
            </ul>
        </li>

        <li id="purchase">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>구매</button>
            </div>

            <ul>
                <li><a href="#" data-behavior="link">견적내기</a></li>
                <li><a href="#" data-behavior="link">전기차 구매가이드</a></li>
                <li><a href="#" data-behavior="link">구매 상담 신청</a></li>
                <li><a href="#" data-behavior="link">사양 조회하기</a></li>
                <li><a href="#" data-behavior="link">가격표 카탈로그</a></li>
                <li><a href="#" data-behavior="link">제네시스 인증중고차</a></li>
            </ul>
        </li>

        <li id="experience">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>체험</button>
            </div>
            <ul>
                <li><a href="#" data-behavior="move" data-target="space"><span>스페이스</span><i class='bx bx-chevron-right'></i></a></li>
                <li><a href="#" data-behavior="link">시승 신청</a></li>
                <li><a href="#" data-behavior="link">전시장 찾기</a></li>
                <li><a href="#" data-behavior="link">제네시스 드라이빙 익스피리언스</a></li>
            </ul>
        </li>

        <li id="members">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>멤버스</button>
            </div>
            <ul>
                <li><a href="#" data-behavior="move" data-target="membership"><span>제네시스 멤버십</span><i class='bx bx-chevron-right'></i></a></li>
                <li><a href="#" data-behavior="move" data-target="mygenesis"><span>MY GENESIS 앱</span><i class='bx bx-chevron-right'></i></a></li>
                <li><a href="#" data-behavior="move" data-target="app"><span>제네시스 앱스</span><i class='bx bx-chevron-right'></i></a></li>
                <li><a href="#" data-behavior="move" data-target="car"><span>차량 관리 서비스</span><i class='bx bx-chevron-right'></i></a></li>
            </ul>
        </li>

        <li id="genesis">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>제네시스</button>
            </div>
            <ul>
                <li><a href="#" data-behavior="move" data-target="brand"><span>브랜드</span><i class='bx bx-chevron-right'></i></a></li>
                <li><a href="#" data-behavior="move" data-target="golf"><span>제네시스X골프</span><i class='bx bx-chevron-right'></i></a></li>
                <li><a href="#" data-behavior="move" data-target="roadtrip"><span>로드트립</span><i class='bx bx-chevron-right'></i></a></li>
                <li><a href="#" data-behavior="link">마그마 레이싱</a></li>
            </ul>
        </li>
        <li id="cs">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>고객센터</button>
            </div>
            <ul>
                <li><a href="#" data-behavior="link">고객센터 안내</a></li>
                <li><a href="#" data-behavior="link">공지사항</a></li>
                <li><a href="#" data-behavior="link">이벤트</a></li>
                <li><a href="#" data-behavior="link">자주 묻는 질문</a></li>
                <li><a href="#" data-behavior="move" data-target="download"><span>다운로드 센터</span><i class='bx bx-chevron-right'></i></a></li>
            </ul>
        </li>
    </ul>
</div><!--depth2-->
<div class="depth3">
    <ul class="depth3List">
        <li id="space">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>체험</button>
            </div>

            <ul>
                <li><a href="#" >스페이스 소개</a></li>
                <li><a href="#" >청주</a></li>
                <li><a href="#" >수지</a></li>
                <li><a href="#" >강남</a></li>
                <li><a href="#" >스튜디오 하남</a></li>
                <li><a href="#" >스튜디오 안성</a></li>
            </ul>
        </li>
        <li id="membership">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>제네시스 멤버십</button>
            </div>

            <ul>
                <li><a href="#" >멤버십 소개</a></li>
                <li><a href="#" >모빌리티 케어</a></li>
                <li><a href="#" >프리빌리지</a></li>
                <li><a href="#" >모먼츠</a></li>
            </ul>
        </li>
        <li id="mygenesis">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>MY GENESIS 앱</button>
            </div>

            <ul>
                <li><a href="#" >서비스 소개</a></li>
                <li><a href="#" >시작하기</a></li>
                <li><a href="#" >차량 관리 서비스</a></li>
                <li><a href="#" >제네시스 커넥티드 서비스</a></li>
            </ul>
        </li>
        <li id="app">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>제네시스 앱스</button>
            </div>

            <ul>
                <li><a href="#" >제네시스 앱스 소개</a></li>
                <li><a href="#" >스트리밍 요금제</a></li>
                <li><a href="#" >돌비 에트모스</a></li>
                <li><a href="#" >컨텐츠 소개</a></li>
                <li><a href="#" >블룸버그</a></li>
                <li><a href="#" >제네시스 뮤직</a></li>
            </ul>
        </li>
        <li id="car">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>차량 관리 서비스</button>
            </div>

            <ul>
                <li><a href="#" >서비스 네트워크 찾기</a></li>
                <li><a href="#" >충전 안내</a></li>
                <li><a href="#" >호환성 안내</a></li>
                <li><a href="#" >타이어 안심 교체 서비스</a></li>
                <li><a href="#" >리모트 케어</a></li>
                <li><a href="#" >바디케어 서비스</a></li>
                <li><a href="#" >워런티 플러스</a></li>
                <li><a href="#" >자동차 교환 환불 중재 규정 안내</a></li>
                <li><a href="#" >하자 재발 통보 안내</a></li>
                <li><a href="#" >무선 소프트웨어 업데이트</a></li>
                <li><a href="#" >에어포트 서비스</a></li>
            </ul>
        </li>
        <li id="brand">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>브랜드</button>
            </div>

            <ul>
                <li><a href="#" >브랜드 소개</a></li>
                <li><a href="#" >비전</a></li>
            </ul>
        </li>
        <li id="golf">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>제네시스X골프</button>
            </div>

            <ul>
                <li><a href="#" >제네시스X골프 소개</a></li>
                <li><a href="#" >제네시스 포인트</a></li>
                <li><a href="#" >제네시스 챔피언십</a></li>
                <li><a href="#" >제네시스 글로벌</a></li>
                <li><a href="#" >갤러리</a></li>
            </ul>
        </li>
        <li id="roadtrip">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>로드트립</button>
            </div>

            <ul>
                <li><a href="#" >로드트립 소개</a></li>
                <li><a href="#" >영원</a></li>
                <li><a href="#" >아산 당진</a></li>
                <li><a href="#" >담양 화순</a></li>
                <li><a href="#" >안동</a></li>
                <li><a href="#" >통영</a></li>
                <li><a href="#" >해남 강진</a></li>
                <li><a href="#" >충주</a></li>
                <li><a href="#" >울릉도</a></li>
                <li><a href="#" >부산</a></li>
                <li><a href="#" >여주</a></li>
                <li><a href="#" >백두대간</a></li>
                <li><a href="#" >순천</a></li>
            </ul>
        </li>
        <li id="download">
            <div class="backBtnWrapper">
                <button class="backBtn"><i class='bx bxs-chevron-left'></i>다운로드 센터</button>
            </div>

            <ul>
                <li><a href="#" >가격표 카탈로그</a></li>
                <li><a href="#" >오너스 메뉴얼</a></li>
                <li><a href="#" >제네시스 커넥티드 서비스</a></li>
                <li><a href="#" >배경화면</a></li>
            </ul>
        </li>
    </ul>
</div>