 <div class="sitemapInner">
        <div class="sitemapLogo">
            <img src="../images/logo.png" alt="제네시스">
        </div><!--logo-->
        <div class="sitemapSearchWrapper">
            <input type="text" placeholder="검색어를 입력하세요">
            <button class="sitemapSearchBtn">
                <span class="blind">검색하기</span>
                <img src="../images/icon-search-small.png">
            </button>
        </div>
        <div class="sitemapListWrapper">
            <ul>
                <li>
                    <strong>모델</strong>
                    <ul>
                        <li><a href="#">G90 Long Wheel Base Black</a></li>
                        <li><a href="#">G90 Black</a></li>
                        <li><a href="#">G80 Black</a></li>
                        <li><a href="#">GV80 Coupe Black</a></li>
                        <li><a href="#">GV80 Black</a></li>
                        <li><a href="#">G90 Long Wheel Base</a></li>
                        <li><a href="#">G90</a></li>
                        <li><a href="#">G80</a></li>
                        <li><a href="#">Electrified G80</a></li>
                        <li><a href="#">G70</a></li>
                        <li><a href="#">G70 Shooting Brake</a></li>
                        <li><a href="#">GV80 Coupe</a></li>
                        <li><a href="#">GV80</a></li>
                        <li><a href="#">GV70</a></li>
                        <li><a href="#">Electrified GV70</a></li>
                        <li><a href="#">GV60</a></li>
                        <li><a href="#">콘셉트카 소개</a></li>
                    </ul>
                </li>
                <li>
                    <strong>구매</strong>
                    <ul>
                        <li><a href="#">견적내기</a></li>
                        <li><a href="#">전기차 구매가이드</a></li>
                        <li><a href="#">구매 상담 신청</a></li>
                        <li><a href="#">사양 조회하기</a></li>
                        <li><a href="#">가격표 카탈로그</a></li>
                        <li><a href="#">제네시스 인증 중고차</a></li>
                    </ul>
                </li>
                <li>
                    <strong>체험</strong>
                    <ul>
                        <li><a href="#">스페이스</a></li>
                        <li><a href="#">시승신청</a></li>
                        <li><a href="#">전시장 찾기</a></li>
                        <li><a href="#">제네시스 드라이빙 익스피리언스</a></li>
                    </ul>
                </li>
                <li>
                    <strong>멤버스</strong>
                    <ul>
                        <li><a href="#">제네시스 멤버십</a></li>
                        <li><a href="#">MY GENESIS 앱</a></li>
                        <li><a href="#">제네시스 앱스</a></li>
                        <li><a href="#">차량 관리 서비스</a></li>
                    </ul>
                </li>
                <li>
                    <strong>제네시스</strong>
                    <ul>
                        <li><a href="#">브랜드</a></li>
                        <li><a href="#">제네시스X골프</a></li>
                        <li><a href="#">로드트립</a></li>
                        <li><a href="#">마그마 레이싱</a></li>
                    </ul>
                </li>
                <li>
                    <strong>고객센터</strong>
                    <ul>
                        <li><a href="#">고객센터 안내</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">이벤트</a></li>
                        <li><a href="#">자주 묻는 질문</a></li>
                        <li><a href="#">다운로드 센터</a></li>
                    </ul>
                </li>
                <li>
                    <strong><a href="#">마이 페이지</a></strong>
                </li>
            </ul>

            <div class="sitemapBottom">
                <div class="linkWrapper">
                    <a href="#">가격표 다운로드</a>
                    <a href="#">네비게이션 업데이트</a>
                    <a href="#">제네시스 부티크</a>
                    <a href="#">제네시스 월드와이드</a>
                </div>

                <div class="langBtns">
                    <a href="#" class="eng">ENG</a>
                    <a href="#" class="kor">KOR</a>
                </div>
            </div>
        </div>
    </div><!--inner-->
