<div class="subMenuInner inner purchase">
    <div class="subMenuTop">
        <div class="subMenu subMenuPurchase">
            <div class="subMenuLeft">
                <strong>구매</strong>
                <p>당신만의 제네시스를 찾아가는 여정을 지원합니다.</p>
            </div><!--left-->
            <div class="subMenuRight">
                <ul class="purchaseList">
                    <li><a href="#" class="link-text-btn"><span>견적내기</span></a></li>
                    <li><a href="#" class="link-text-btn"><span>전기차 구매가이드</span></a></li>
                    <li><a href="#" class="link-text-btn"><span>구매 상담 신청</span></a></li>
                    <li><a href="#" class="link-text-btn"><span>사양 조회하기</span></a></li>
                    <li><a href="#" class="link-text-btn"><span>가격표·카탈로그</span></a></li>
                    <li><a href="#" class="link-text-btn"><span>제네시스 인증중고차</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="subMenuBottom">
        <ul class="subMenuBottomMenu">
            <li><a href="#" class="link-text-btn"><span>시승 신청</span><i class='bx bx-chevron-right'></i></a></li>
            <li><a href="#" class="link-text-btn"><span>전시장 찾기</span><i class='bx bx-chevron-right'></i></a></li>
            <li><a href="#" class="link-text-btn"><span>멤버십 찾기</span><i class='bx bx-chevron-right'></i></a></li>
        </ul>
    </div>
   
</div>