<div class="subMenuInner inner genesis">
    <div class="subMenuTop">
        <div class="subMenu subMenugenesis">
            <div class="subMenuLeft">
                <strong>제네시스</strong>
                <p>높은 품격과 안목을 가진 사람들을<br>위한 최상의 자동차와 서비스를<br>만들어 내고자 합니다.</p>
            </div><!--left-->
            <div class="subMenuRight">
                <ul class="genesisList">
                    <li>
                        <a href="#" class="link-text-btn"><span>브랜드</span></a>
                        <ul class="subMenu2depth">
                            <li><a href="#">브랜드 소개</a></li>
                            <li><a href="#">비전</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link-text-btn"><span>제네시스X골프</span></a>
                        <ul class="subMenu2depth">
                            <li><a href="#">제네시스X골프 소개</a></li>
                            <li><a href="#">제네시스 포인트</a></li>
                            <li><a href="#">제네시스 챔피언십</a></li>
                            <li><a href="#">제네시스 글로벌</a></li>
                            <li><a href="#">갤러리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link-text-btn"><span>로드트립</span></a>
                        <ul class="subMenu2depth">
                            <li><a href="#">로드트립 소개</a></li>
                            <li><a href="#">영월</a></li>
                            <li><a href="#">아산 당진</a></li>
                            <li><a href="#">담양 화순</a></li>
                            <li><a href="#">안동</a></li>
                            <li><a href="#">통영</a></li>
                            <li><a href="#">해남 강진</a></li>
                            <li><a href="#">충주</a></li>
                            <li><a href="#">울릉도</a></li>
                            <li><a href="#">부산</a></li>
                            <li><a href="#">여주</a></li>
                            <li><a href="#">백두대간</a></li>
                            <li><a href="#">순천</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link-text-btn"><span>차량 관리 서비스</span></a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="subMenuBottom">
        <ul class="subMenuBottomMenu">
            <li><a href="#" class="link-text-btn"><span>제네시스 스페이스</span><i class='bx bx-chevron-right'></i></a></li>
            <li><a href="#" class="link-text-btn"><span>제네시스 뉴스룸</span><i class='bx bx-chevron-right'></i></a></li>
          
        </ul>
    </div>
   
</div>