<div class="subMenuInner inner members">
    <div class="subMenuTop">
        <div class="subMenu subMenumembers">
            <div class="subMenuLeft">
                <strong>멤버십</strong>
                <p>제네시스를 선택한 순간 당신의<br>일상은 특별해집니다.</p>
            </div><!--left-->
            <div class="subMenuRight">
                <ul class="membersList">
                    <li>
                        <a href="#" class="link-text-btn"><span>제네시스 멤버십</span></a>
                        <ul class="subMenu2depth">
                            <li><a href="#">멤버십 소개</a></li>
                            <li><a href="#">모빌리티 케어</a></li>
                            <li><a href="#">프리빌리지</a></li>
                            <li><a href="#">모먼츠</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link-text-btn"><span>MY GENESIS 앱</span></a>
                        <ul class="subMenu2depth">
                            <li><a href="#">서비스 소개</a></li>
                            <li><a href="#">시작하기</a></li>
                            <li><a href="#">차량 관리 서비스</a></li>
                            <li><a href="#">제네시스 커넥티드 서비스</a></li>
                            <li><a href="#">모빌리티 서비스</a></li>
                            <li><a href="#">고객센터 및 A/S 안내</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link-text-btn"><span>제네시스 앱스</span></a>
                        <ul class="subMenu2depth">
                            <li><a href="#">제네시스 앱스 소개</a></li>
                            <li><a href="#">스트리밍 요금제</a></li>
                            <li><a href="#">돌비 애트모스</a></li>
                            <li><a href="#">컨텐츠 소개</a></li>
                            <li><a href="#">블룸버그</a></li>
                            <li><a href="#">제네시스 뮤직</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="link-text-btn"><span>차량 관리 서비스</span></a>
                        <ul class="subMenu2depth">
                            <li><a href="#">서비스 네트워크 찾기</a></li>
                            <li><a href="#">충전 안내</a></li>
                            <li><a href="#">호환성 안내</a></li>
                            <li><a href="#">타이어 안심 교체 서비스</a></li>
                            <li><a href="#">리모트 케어</a></li>
                            <li><a href="#">바디케어 서비스</a></li>
                            <li><a href="#">워런티 플러스</a></li>
                            <li><a href="#">자동차 교환 환불 중재 규정 안내</a></li>
                            <li><a href="#">하자 재발 통보 안내</a></li>
                            <li><a href="#">무선 소프트웨어 업데이트</a></li>
                            <li><a href="#">에어포트 서비스</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="subMenuBottom">
        <ul class="subMenuBottomMenu">
            <li><a href="#" class="link-text-btn"><span>견적내기</span><i class='bx bx-chevron-right'></i></a></li>
            <li><a href="#" class="link-text-btn"><span>구매 상담 신청</span><i class='bx bx-chevron-right'></i></a></li>
            <li><a href="#" class="link-text-btn"><span>서비스 네트워크 찾기</span><i class='bx bx-chevron-right'></i></a></li>
        </ul>
    </div>
   
</div>