<div class="subMenuInner inner model">
    <div class="subMenuTop">
        <div class="subMenu subMenuModel">
            <div class="subMenuLeft">
                <strong>모델</strong>
                <ul>
                    <li><a href="#" data-target="all">ALL</a></li>
                    <li><a href="#" data-target="black">BLACK</a></li>
                    <li><a href="#" data-target="sedan">SEDAN</a></li>
                    <li><a href="#" data-target="suv">SUV</a></li>
                </ul>
            </div><!--left-->
            <div class="subMenuRight">
                <ul class="modelList">

                </ul>
            </div>
        </div>
    </div>
</div>