<div class="subMenuInner inner experience">
    <div class="subMenuTop">
        <div class="subMenu subMenuexperience">
            <div class="subMenuLeft">
                <strong>체험</strong>
                <p>제네시스가 담아 낸 브랜드의 <br>이상과 가치를 미리 경험할 수<br>있습니다.</p>
            </div><!--left-->
            <div class="subMenuRight">
                <ul class="experienceList">
                    <li>
                        <a href="#" class="link-text-btn"><span>스페이스</span></a>
                        <ul class="subMenu2depth">
                            <li><a href="#">스페이스 소개</a></li>
                            <li><a href="#">청주</a></li>
                            <li><a href="#">수지</a></li>
                            <li><a href="#">강남</a></li>
                            <li><a href="#">스튜디오 하남</a></li>
                            <li><a href="#">스튜디오 안성</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="link-text-btn"><span>시승신청</span></a></li>
                    <li><a href="#" class="link-text-btn"><span>전시장 찾기</span></a></li>
                    <li><a href="#" class="link-text-btn"><span>제네시스 드라이빙 익스피리언스</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="subMenuBottom">
        <ul class="subMenuBottomMenu">
            <li><a href="#" class="link-text-btn"><span>견적내기</span><i class='bx bx-chevron-right'></i></a></li>
            <li><a href="#" class="link-text-btn"><span>구매 상담 신청</span><i class='bx bx-chevron-right'></i></a></li>
            <li><a href="#" class="link-text-btn"><span>서비스 네트워크 찾기</span><i class='bx bx-chevron-right'></i></a></li>
        </ul>
    </div>
   
</div>