.serviceContainer{
    padding: 0px 100px 250px;
    .serviceList{
        display: flex;
        justify-content: center;
        li{
            flex-grow: 1;
            padding: 0px 24px;
            a{
                display: flex;
                color: $white-color;
                padding-top: 80px;
                background: url(../images/quitation.gif) no-repeat center top;
                justify-content: center;
                font-size: 16px;
                &.icon-sales {
                    background-image: url(../images/sales.gif);
                }
    
                &.icon-drive {
                    background-image: url(../images/drive.gif);
                }
    
                &.icon-catalog {
                    background-image: url(../images/catalog.gif);
                }
            }
            

        }
    }
}