/*font*/
$title-light : 'genesis-head-light', sans-serif;
$title : 'genesis-head', sans-serif;
$text : 'genesis-text', sans-serif;

/*color*/
$default-color : #bbbbbb;
$white-color : #ffffff;
$black : #000000;
$bg-color : #111111;
$btn-color : #141414;
$text-black-color : #262626;
$text-gray-color : #cccccc;


/*media*/
$laptop : 1600px;
$laptop02 : 1360px;
$tablet : 1024px;
$mobile : 768px;